%section.top-carousel
  .top-main-visual
    .top-main-visual-wrap
      %ul.slider
        %li.slide
          .top-main-visual{style:"background-image: url(#{image_path 'main_bg_pc.jpg'})"}
            .top-main-visual-content-wrap
              .top-main-visual-content
                %span.slide__content
                  %h2 スマホでかんたん<br>フリマアプリ
                  %p メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
                  .top-main-visual-store.clearfix
                    =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8", class: "pull-left", target: "_blank" do
                      =image_tag "app-store.svg", alt: ""
                    =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja", class: "pull-left", target: "_blank" do
                      =image_tag "google-play.svg", alt: ""
              =image_tag "main_content_pc.png", alt: "",class: "small-photo"
        %li
          %a{href:"",class: "img2", style:"background-image: url(#{image_path 'top-banner-new-register.png'})"}
        %li
          %a{href:"",class: "img2", style:"background-image: url(#{image_path 'top-banner-kusanagi-xmas.jpg'})"}
        %li
          %a{href:"",class: "img4", style:"background-image: url(#{image_path 'top-banner-welcome.png'})"}
      %div#arrows
        %div.slick-prev{style: "background-image: url(#{image_path 'carousel-prev.png'})"}
        %div.slick-next{style: "background-image: url(#{image_path 'carousel-next.png'})"}
