%header.confirmation-header
  =render partial: "shared/single-header"
%main.confirmation-main
  = form_with model: [@item, @item_transaction], local: true, class: "main-content" do |f|

    - if current_user && current_user.credits.present? 
      %section.main-contents__item-header
        %p 購入を確定しますか？
      %section.main-contents__item-info
        .item-header
          =image_tag @item.images[0],class: "is-higher-width lazyloaded"
          %p.image-title 
            = @item.name
        .item-pay-form
          .item-pay-form__price
            .item-price
              = "¥" + @item.price.to_s
            .delivery-price
              = @item.postage_select.text
          .item-pay-form__point
            .none ポイントはありません
          .item-pay-form__sum
            %p.sum-headword 支払い金額
            %p.sum-price
              = "¥" + @item.price.to_s
          #submit-pay
            = f.submit "購入する", class: "btn-default btn-red"

    - else
      %section.main-contents__item-header
        %p 購入できません。クレジットカードを登録お願いします。
      %section.main-contents__item-info
        .item-header
          =image_tag @item.images[0],class: "is-higher-width lazyloaded"
          %p.image-title 
            = @item.name
        .item-pay-form
          .item-pay-form__price
            .item-price 
              = @item.price
            .delivery-price 
              = @item.postage_select_id
          .item-pay-form__point
            .none ポイントはありません
          .item-pay-form__sum
            %p.sum-headword 支払い金額
            %p.sum-price
              = @item.price
          #submit-pay
            .btn-default 購入できません
      %section.main-contents__delivery-info
        %p.header-address 配送先
        .contents-address
          %p 〒123-4567
          %p 大阪府大阪市1-2-345
          %p メルカリ太郎
        .contents-change
          =link_to "変更する", root_path do
            =fa_icon("angle-right")
        .clearfix
      %section.main-contents__pay-info
        %p.header-card 支払方法
        .contents-card
          %p **********012
          %p 12 / 34
          %img.card-img{src:"assets/american_express.svg"}
        .contents-change
          =link_to "変更する", root_path do
            =fa_icon("angle-right")
        .clearfix

%footer.confirmation-footer
  =render partial: "shared/single-footer"
