= render partial:"shared/pc-header"
= render partial:"shared/bread-crumbs"
.l-container
  .l-content
    = render partial:"users/card_information"
  = render partial:"users/side-bar"
= render partial:"shared/footer-sell-btn"
= render partial:"shared/app-banner"
= render partial:"shared/global-footer"