= render partial:"shared/pc-header"
- breadcrumb :mypage
= render partial:"shared/bread-crumbs"
.l-container.clearfix
  = render partial:"users/mypage_right"
  = render partial:"users/side-bar"
= render partial:"shared/footer-sell-btn"
= render partial:"shared/app-banner"
= render partial:"shared/global-footer"

