%header
  .pc-header
    .pc-header-inner
      .header__top.clearfix
        %h1.logo.l-left
          = link_to image_tag('logo.svg',{alt:"mercari",width: "134", height: "36"}),root_path
        = form_with(model: @items, url: items_search_path, :method => 'get',local: true, class: "header__top__form l-right") do
          = text_field_tag :search,"", class: "input-default ",placeholder: "キーワードから探す",value: @value
          = button_tag "",:type => "submit", class: "hidden" do
            %i.fa.fa-search
      .header__bottom
        .header-bavbox.clearfix
          %nav.l-reft
            %ul.pc-header-navbox
              %li
                %h2=link_to "カテゴリーから探す", categories_path, class: " pc-header-navbox-root"
                %ul.pc-header-navbox-parent-wrap{style: "width: auto;"}
                  - category_parents = @categories.find_all{|n| n[:ancestry] == nil}
                  =render partial: "shared/parts/category_parent", collection: category_parents, cached: true,locals: {categories: @categories}
                  %li.pc-header-navbox-parent
                    %h3
                      =link_to "カテゴリ一覧", categories_path

              %li
                %h2=link_to "ブランドから探す", "#", class: "pc-header-navbox-root"
                %ul.pc-header-navbox-parent-wrap{style: "width: auto;"}
                  =render partial: "shared/parts/brand"
          .l-right
            -if user_signed_in?
              %ul.pc-header-user-nav
                %li
                  =link_to mypage_path, class: "pc-header-navbox-root" do
                    %figure
                      %div
                        =image_tag "member_photo_noimage_thumb.png",width: 32, height: 32
                    %div マイページ
                  =render partial: 'shared/parts/pc-header-mypage-box'

                %li
                  =link_to "#", class: "pc-header-navbox-root" do
                    %i.fa.fa-bell
                    お知らせ
                  %ul.pc-header-user-box.pc-header-notification-box.mypage-item-list
                    %li.mypage-item-not-found{style: "background-image: url(#{image_path 'logo-gray-icon.svg'})"}
                      現在、お知らせはありません

                %li
                  =link_to "#", class: "pc-header-navbox-root" do
                    %i.fa.fa-check
                    やることリスト
                  %ul.pc-header-user-box.pc-header-todo-box.mypage-item-list
                    %li.mypage-item-not-found{style: "background-image: url(#{image_path 'logo-gray-icon.svg'})"}
                      現在、やることリストはありません
            -else
              %ul.pc-header-login-nav
                %li
                  =link_to "ログイン", new_user_session_path, class: "pc-header-btn btn btn-red"

                %li
                  =link_to "新規会員登録", new_user_registration_path, class: "pc-header-btn btn header-signup"
