.single-container
  =render "shared/single-header"
  %main.single-main
    %section.single-container-section
      #sell-item-container
        .sell-item-container-inner
          %h2.single-head 商品の情報を入力
          =form_with model: @item, local: true, class: "sell-form" do |f|
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require 必須
              %p 最大10枚までアップロードできます
              .sell-dropbox-container.clearfix
                .sell-upload-items{class: "have-item-#{@item.images.length}"}
                  %ul
                    -if @item.images.attached?
                      =render partial: 'uploaded_image', collection: @item.images, locals: {form: f}
                =label :images, "", for: "item_images" do
                  .sell-upload-dropbox.clearfix{class: "have-item-#{@item.images.length}"}
                    =f.file_field :images, class: "sell-upload-drop-file", multiple: true, style: "display: none;"
                    %pre
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                  -if @item.errors[:images]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:images).each do |error|
                        %li=error
            .sell-content
              .form-group
                =f.label :name do
                  商品名
                  %span.form-require 必須
                %div
                  =f.text_field :name, class: "input-default", placeholder: "商品名（必須 40文字まで)"
                  -if @item.errors[:name]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:name).each do |error|
                        %li=error
              .form-group
                =f.label :description do
                  商品の説明
                  %span.form-require 必須
                %div
                  =f.text_area :description, class: "textarea-default",rows: 5, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
                  -if @item.errors[:description]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:description).each do |error|
                        %li=error
            .sell-content.clearfix
              %h3.sell-sub-head 商品詳細
              .sell-form-box
                .form-group.form-group-category
                  =f.label :l_category_id do
                    カテゴリ
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :l_category_id, Category.where(ancestry: nil), :id, :name, {prompt: "---"}, {class: 'select-default'}
                    %i.fa.fa-angle-down
                  -if @item[:m_category_id]
                    .select-wrap
                      = f.collection_select :m_category_id, Category.find(@item.l_category_id).children, :id, :name, {prompt: "---"}, {class: 'select-default'}
                      %i.fa.fa-angle-down
                  -if @item[:category_id]
                    .select-wrap
                      = f.collection_select :category_id, Category.find(@item.m_category_id).children, :id, :name, {prompt: "---"}, {class: 'select-default'}
                      %i.fa.fa-angle-down
                  -if @item.errors[:category_id]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:category_id).each do |error|
                        %li=error
                .form-group.form-group-item_condition
                  =f.label :item_condition_id do
                    商品状態
                    %span.form-require 必須
                  .select-wrap
                    =f.collection_select :item_condition_id, ItemCondition.all, :id, :text, {prompt: "---"}, {class: 'select-default'}
                    %i.fa.fa-angle-down
                  -if @item.errors[:item_condition_id]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:item_condition_id).each do |error|
                        %li=error
            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              =link_to "?", "#", class: "form-question"
              .sell-form-box
                .form-group.form-group-postage_select
                  =f.label :postage_select_id do
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    =f.collection_select :postage_select_id, PostageSelect.all, :id, :text, {prompt: "---"}, {class: 'select-default'}
                    %i.fa.fa-angle-down
                  -if @item.errors[:postage_select_id]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:postage_select_id).each do |error|
                        %li=error
                .form-group.form-group-prefecture
                  =f.label :prefecture_id do
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    =f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, {class: 'select-default'}
                    %i.fa.fa-angle-down
                  -if @item.errors[:prefecture_id]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:prefecture_id).each do |error|
                        %li=error
                .form-group.form-group-leadtime
                  =f.label :leadtime_id do
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    =f.collection_select :leadtime_id, Leadtime.all, :id, :text, {prompt: "---"}, {class: 'select-default'}
                    %i.fa.fa-angle-down
                  -if @item.errors[:leadtime_id]
                    %ul.has-error-text
                      -@item.errors.full_messages_for(:leadtime_id).each do |error|
                        %li=error
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              =link_to "?", "#", class: "form-question"
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      =f.label :price, class: "l-left" do
                        価格
                        %span.form-require 必須
                      .sell-price-input.l-right
                        ¥
                        %div
                          =f.text_field :price, class: "input-default",placeholder: "例）300"
                        -if @item.errors[:price]
                          %ul.has-error-text
                            -@item.errors.full_messages_for(:price).each do |error|
                              %li=error
                  %li.clearfix.sell-commission
                    .l-left.sell-commission-text
                      販売手数料 (10%)
                    .l-right.sell-commission-value -

                  %li.clearfix.sell-profit
                    .l-left.sell-profit-text
                      販売利益
                    .l-right.sell-profit-value -
            .sell-btn-box.sell-content
              .sell-btn-box-precaution
                %p
                  =link_to "禁止されている出品", "#"
                  、
                  =link_to "行為", "#"
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  =link_to "偽ブランド", "#"
                  の販売は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  =link_to "加盟店規約","#"
                  に同意したことになります。
              = f.submit '出品する' , class: "sell-btn-box-btn btn-default btn-red"
              =link_to "もどる", "#", class:"return-btn btn-default btn-gray"
=render "shared/single-footer"
