.default-container
  =render "shared/pc-header"
  - breadcrumb :items, @item
  =render "shared/bread-crumbs"
  %section.item-box-container.single-container-section
    %h1.item-name
      =@item.name
    %p.item-wording
      #{@item.name}は、48回の取引実績を持つ
      =link_to "#{@item.seller.nickname}"
      さんから出品されました。
      =link_to "#{@item.category.name}"
      の商品で、#{@item.prefecture.name}から#{@item.leadtime.text}で発送されます。
    .item-main-content.clearfix
      .item-photo
        -@item.images.each do |image|
          =image_tag image,width: 300,hight:300
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "#{@item.seller.nickname}"
              .face
                .item-user-ratings.l-left
                  %i.fas.fa-laugh.icon-good
                  %span 48
                .item-user-ratings.l-left
                  %i.fas.fa-meh.icon-normal
                  %span 0
                .item-user-ratings.l-left
                  %i.fas.fa-frown.icon-bad
                  %span 0
          %tr
            %th カテゴリー
            %td
              =link_to "#" do
                .category
                  =@item.category.name
              =link_to "#" do
                .item-detail-table-sub-category
                  %i.fa.fa-chevron-right
                  =@item.category.parent.name
              =link_to "#" do
                .item-detail-table-sub-sub-category
                  %i.fa.fa-chevron-right
                  =@item.category.parent.parent.name
          %tr
            %th ブランド
            %td
              - if @item.brand
                =@item.brand.name
          %tr
            %th 商品の状態
            %td
              =@item.item_condition.text
          %tr
            %th 配送料の負担
            %td
              =@item.postage_select.text
          %tr
            %th 配送の方法
            %td
              =@item.shipping.text
          %tr
            %th 配送元地域
            %td=link_to "#{@item.prefecture.name}"
          %tr
            %th 発送日の目安
            %td
              =@item.leadtime.text
    .item-price-box
      %span.item-price-box-price ¥#{@item.price}
      %span.item-price-box-tax (税込)
      %span.item-price-box-shipping-fee 送料込み
      - if user_signed_in? && current_user.id == @item.seller_id || @item.status.present?
        =link_to "購入できません", "#", class: "item-buy-btn btn-default btn-gray"
      - else
        =link_to "購入画面に進む", new_item_item_transaction_path(@item), class: "item-buy-btn btn-default btn-red"


    .item-description
      %p.item-description-inner
        =@item.description
- if user_signed_in? && current_user.id == @item.seller_id
  .item-button-edit-delete
    .item-button-edit
      =link_to "商品を編集する"
    .item-button-or
      %span or
    .item-button-stop
      =link_to "出品を一旦停止する"
    .item-button-stop
      =link_to "この商品を削除する",item_path(@item),method: "delete",class: "modal"
- else
  .item-button-container.clearfix
    .item-button-left
      %buttom.item-button.item-button-like
        %i.far.fa-heart
        %span いいね！
        %span 1
      =link_to "#", class: "item-button item-button-report clearfix" do
        %i.far.fa-flag
        %span 不適切な商品の報告
    .item-button-right
      =link_to "#" do
        %i.fas.fa-lock
        %span あんしん・あんぜんの取り組み
  .item-detail-comment
    .item-detail-comment-container
      .item-detail-comment-content
        %form.item-detail-comment-form
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.textarea-default
          %button.comment-submit.btn-default.btn-gray
            %span コメントする
  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link.nav-item-link-prev.l-left
      =link_to "#" do
        %i.fa.fa-angle-left.icon-angle.icon-angle-left
        極美品 OAKLEY オークリー パーカーセットアップ 上下 ネイビー
    %li.nav-item-link.nav-item-link-next.l-right
      =link_to "#" do
        %i.fa.fa-angle-right.icon-angle.icon-angle-right
        samurai様専用bodyboss2.0 未使用 開封のみ
  .item-social-media-box
    .text-center
    %ul.social-media-box
      %li
        =link_to "#", target: "_blank",class: "share-btn share-btn-facebook" do
          %i.fab.fa-facebook.fa-2x.icon-sns
      %li
        =link_to "#", target: "_blank",class: "share-btn  share-btn-twitter"  do
          %i.fab.fa-twitter.fa-2x.icon-sns
      %li
        =link_to "#", target: "_blank",class: "share-btn  share-btn-line"  do
          %i.fab.fa-line.fa-2x.icon-sns
      %li
        =link_to "#", target: "_blank",class: "share-btn  share-btn-printerest"  do
          %i.fab.fa-pinterest.fa-2x.icon-sns
  .items-in-user-profile
  =render partial: "shared/app-banner"
  =render partial: "shared/global-footer"
